html {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    background-repeat: no-repeat;
    object-fit: contain;
    width: auto;
}
body{
    position: relative;
    margin:100px;
    border: 5px solid #97B844;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px grey;
    background-color: white;
}

header {
    text-align: center;
    background-color: #97B844;
    padding-bottom: 5px;
}

.welcome{
    color: #97B844;
    margin:20px;
    text-align: center;
    padding-bottom: 20px;
}
.welcome p {
    color: black;
    padding-bottom: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}
.welcome img{
    max-height: 500px;
    max-width: 500px;
    width: auto;
    height: auto;
}
footer{
    text-align: center;
    padding: 5px;
}
footer img{
    margin-left: 50px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.title {
    font-size: 50px;
    font-weight: bold;
}

.desc {
    font-size: 30px;
    padding: 0px;
}

.service-choose {
    display: flex;
    height: 250px;
}

.sourceService{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.targetService {
    width: 50%;
    box-sizing: border-box;
}

.PAO {
    display: flex;
    height: 400px;
    text-align: center;
}

.playlists-source, .playlists-target {
    width: 35%;
    box-sizing: border-box;
}

.options {
    display: table;
    text-align: center;
    width: 30%;
}

li {
    list-style-type: none;
}

img {
    height: 50px;
    width: 150px;
}

.login-info {
    display: flex;
}

.logos li {
    margin: 20px;
}

.logos input {
    margin-left: 10px;
}

.loginfo {
    height: 100px;
    margin-left: 20px;
}

.loginfomation {
    width: 50%;
    margin: 0 auto;
}

.sourceForm {
    width: 90%;
    margin: 0 auto;
}

.button {
    margin: 65px auto;
}

.start {
    display: table-cell;
    vertical-align: bottom;
}

button {
    background-color: #e7e7e7;
    font-size: large;
    text-align: center;
    padding: 10px 24px;
    border-radius: 12px;
    border: 2px solid #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.allOptions li {
    margin: 30px;
}

.allOptions input {
    margin-left: 20px;
}

.playlists-source li {
    margin: 30px;
}

.playlists-target li {
    margin: 30px;
}

.playlists-source input {
    margin-left: 20px;
}

.playlists-target input {
    margin-left: 20px;
}