<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clef</title>
</head>
<body>
    <fieldset id="header">
        <h1>Clef</h1>
        <p>Easy way to transfer your playlists between different music services</p>
    </fieldset>
    <fieldset id="source">
        <form method="POST" id="source">
            <label for="source">Please choose the source music service: </label>
            <select name="source" id="source">
                <option value="Apple">Apple Music</option>
                <option value="Spotify">Spotify</option>
            </select>
            <br>
            <input type="submit" value="Submit Source">
        </form>
    </fieldset>
    <fieldset id="target">
        <form method="POST" id="target">
            <label for="target">Please choose the target music service: </label>
            <select name="target" id="target">
                <option value="Apple">Apple Music</option>
                <option value="Spotify">Spotify</option>
            </select>
            <br>
            <input type="submit" value="Submit Target">
        </form>
    </fieldset>
    <fieldset id="playlists-source">
        <form method="GET" id="playlists-source">
            <label>
            </label>
        </form>
    </fieldset>
    <fieldset id="playlists-target">
        <form method="GET" id="playlists-target">
            <label>
            </label>
        </form>
    </fieldset>
    <fieldset id="options">
        <form method="POST" id="options">
            <p>Option: </p>
            <label>
                Convert chosen playlist(s)
                <input type="radio" name="options" value="Convert-chosen-playlist">
                Convert all playlist(s)
                <input type="radio" name="options" value="Convert-all-playlist">
            </label>
        </form>
    </fieldset>
    </fieldset>
    <fieldset id="Logs">
        <form method="GET" id="options">
            <p>Logs: </p>
        </form>
    </fieldset>
</body>
</html>